<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @dashing_d3_example.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @dashing_d3_example.title %>
</p>

<p>
  <strong>Cx:</strong>
  <%= @dashing_d3_example.cx %>
</p>

<p>
  <strong>Cy:</strong>
  <%= @dashing_d3_example.cy %>
</p>

<p>
  <strong>X:</strong>
  <%= @dashing_d3_example.x %>
</p>

<p>
  <strong>Y:</strong>
  <%= @dashing_d3_example.y %>
</p>

<p>
  <strong>Width:</strong>
  <%= @dashing_d3_example.width %>
</p>

<p>
  <strong>Height:</strong>
  <%= @dashing_d3_example.height %>
</p>

<p>
  <strong>Radius:</strong>
  <%= @dashing_d3_example.radius %>
</p>

<p>
  <strong>Action number:</strong>
  <%= @dashing_d3_example.action_number %>
</p>

<p>
  <strong>Total action:</strong>
  <%= @dashing_d3_example.total_action %>
</p>

<p>
  <strong>Elapsed days:</strong>
  <%= @dashing_d3_example.elapsed_days %>
</p>

<p>
  <strong>Total days:</strong>
  <%= @dashing_d3_example.total_days %>
</p>

<%= link_to 'Edit', edit_dashing_d3_example_path(@dashing_d3_example) %> |
<%= link_to 'Back', dashing_d3_examples_path %>
